<a href="https://colab.research.google.com/github/angelaguzmanar/Marketing/blob/main/Procesamiento_M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install PyGithub

Collecting PyGithub
  Downloading PyGithub-2.1.1-py3-none-any.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.9/302.9 kB 4.2 MB/s eta 0:00:00
Collecting pynacl>=1.4.0 (from PyGithub)
  Downloading PyNaCl-1.5.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (856 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 856.7/856.7 kB 34.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from PyGithub) (2.8.2)
Requirement already satisfied: requests>=2.14.0 in /usr/local/lib/python3.10/dist-packages (from PyGithub) (2.31.0)
Collecting pyjwt[crypto]>=2.4.0 (from PyGithub)
  Downloading PyJWT-2.8.0-py3-none-any.whl (22 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from PyGithub) (4.5.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from PyGithub) (2.0.4)
Collecting Deprecated (from PyGithub)
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: cryptography>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pyjwt[crypto]>=2.4.0->PyGithub) (41.0.3)
Requirement already satisfied: cffi>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from pynacl>=1.4.0->PyGithub) (1.15.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->PyGithub) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->PyGithub) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.14.0->PyGithub) (2023.7.22)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from Deprecated->PyGithub) (1.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil->PyGithub) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.4.1->pynacl>=1.4.0->PyGithub) (2.21)
Installing collected packages: pyjwt, Deprecated, pynacl, PyGithub
  Attempting uninstall: pyjwt
    Found existing installation: PyJWT 2.3.0
    Uninstalling PyJWT-2.3.0:
      Successfully uninstalled PyJWT-2.3.0
Successfully installed Deprecated-1.2.14 PyGithub-2.1.1 pyjwt-2.8.0 pynacl-1.5.0

In [2]:
#conectamos con Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
import sqlite3 as sql
import plotly.graph_objs as go ### para gráficos
import plotly.express as px
from mlxtend.preprocessing import TransactionEncoder as te
from github import Github
import io

In [4]:
#conectarse a BD
conn= sql.connect('/content/drive/MyDrive/Analitica3/Entrega_Marketing/db_movies')
cur=conn.cursor()

#ver las tablas que hay en la base de datos
cur.execute("select name from sqlite_master where type='table' ")
cur.fetchall()

[('ratings',),
 ('moviess',),
 ('ratings_copia',),
 ('exploracion',),
 ('data_final',),
 ('movies_final',),
 ('ratings_final',),
 ('movies',),
 ('usuarios_sel',),
 ('movies_sel',),
 ('ratingssin5',),
 ('sel5_movies',),
 ('movies_final5',),
 ('ratings_final5',),
 ('df_final',),
 ('reco',)]

In [5]:
pd.read_sql("select * from moviess", conn)

dfmovies= pd.read_sql("select * from moviess", conn) ### convertir moviess en una tabla de pandas
dfmovies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    9742 non-null   int64
 1   movieId  9742 non-null   int64
 2   title    9742 non-null   object
 3   genres   9742 non-null   object
dtypes: int64(2), object(2)
memory usage: 304.6+ KB

In [6]:
#filtrar el numero de usuarios que han calificado las peliculas
usuarios_sel=pd.read_sql(''' select UserId ,
                         count(*) as cnt_rat
                         from ratings
                         group by "UserId"
                         having cnt_rat>=20 and cnt_rat <= 800
                         order by cnt_rat desc''', conn);
usuarios_sel

     userId  cnt_rat
0       600      763
1       590      728
2       483      728
3       105      722
4        19      703
..      ...      ...
584     207       20
585     194       20
586     189       20
587     147       20
588      53       20

[589 rows x 2 columns]

In [7]:
#llevar tabla filtrada de usuarios a sql
usuarios_sel.to_sql('usuarios_sel', conn, index=False, if_exists='replace')

589

In [8]:
#filtrar por el numero de calificaciones que tiene cada pelicula
movies_sel=pd.read_sql(''' select movieId ,
                         count(*) as cnt_rat
                         from ratings
                         group by movieId
                         having cnt_rat > 4
                         order by cnt_rat desc
                         ''',conn )
movies_sel.to_sql('movies_sel', conn, index=False, if_exists='replace') #llevar a bd de sql
movies_sel

      movieId  cnt_rat
0         356      329
1         318      317
2         296      307
3         593      279
4        2571      278
...       ...      ...
3645      102        5
3646       75        5
3647       71        5
3648       68        5
3649       64        5

[3650 rows x 2 columns]

In [9]:
#Se junto las bases de datos con los filtros realizados
dfratings=pd.read_sql(''' select a. userId,
                                a.movieId,
                                a.rating,
                                a.timestamp
                                from ratings a
                                inner join usuarios_sel c
                                on a.userId =c.userId
                                inner join movies_sel b
                                on a.movieId =b.movieId; ''',conn ) #

In [10]:
dfratings.to_sql('ratingssin5', conn, index=False, if_exists='replace')

68958

In [11]:
#se aplico el filtro para que todas las peliculas quedaran con 5 calificaciones, debido a que al eliminar algunos usuarios, tambien se eliminó el numero de calificacones de ciertas peliculas
dfratings5 = pd.read_sql(''' select movieId ,
                         count(*) as cnt_rat
                         from ratingssin5
                         group by movieId
                         having cnt_rat > 4
                         order by cnt_rat desc
                         ''',conn )
dfratings5.to_sql('sel5_movies', conn, index=False, if_exists='replace')

2711

In [12]:
#tabla de ratings fitrada correctamente
dfratings_rf =pd.read_sql(''' select a.userId,
                                a. movieId,
                                a.rating,
                                a.timestamp
                                from ratingssin5 a
                                inner join sel5_movies b
                                on a.movieId =b.movieId; ''',conn )

In [13]:
dfratings_rf

       userId  movieId  rating  timestamp
0           1        1     4.0  964982703
1           1        3     4.0  964981247
2           1        6     4.0  964982224
3           1       47     5.0  964983815
4           1       50     5.0  964982931
...       ...      ...     ...        ...
66190     609      786     3.0  847221025
66191     609      828     3.0  847221054
66192     609      892     3.0  847221080
66193     609     1056     3.0  847221080
66194     609     1059     3.0  847221054

[66195 rows x 4 columns]

In [14]:
#tabla de movies fitrada correctamente
dfmovies= pd.read_sql('''select a.movieId,
                            a.title,
                            a.genres
                            from movies a
                            inner join sel5_movies c
                            on a.movieId= c.movieId;''',conn)

In [15]:
dfmovies.to_sql('movies_final5', conn, index=False, if_exists='replace')

2711

In [16]:
dfmovies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [18]:
dfratings_rf.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [20]:
#separar generos y convertirlos en variables dummy
from mlxtend.preprocessing.transactionencoder import TransactionEncoder
genres = dfmovies['genres'].str.split('|')
te = TransactionEncoder()
genres = te.fit_transform(genres)
genres = pd.DataFrame(genres, columns = te.columns_)

In [21]:
genres

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,False,False,True,True,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2706,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2707,False,True,True,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False
2708,False,False,True,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False
2709,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2710,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [22]:
#crear tabla con toda la informacion
dfmovies_dum=pd.concat([dfmovies, genres], axis=1)
dfmovies_dum = dfmovies_dum.drop(['genres'], axis=1)

In [23]:
# Extraer el año del título y guardar en una nueva columna llamada 'year'
dfmovies_dum['year'] = dfmovies_dum['title'].str.extract(r'\((\d{4})\)')

In [24]:
dfmovies_dum

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
0,1,Toy Story (1995),False,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,1995
1,2,Jumanji (1995),False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,1995
2,3,Grumpier Old Men (1995),False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,1995
3,4,Waiting to Exhale (1995),False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,False,1995
4,5,Father of the Bride Part II (1995),False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2706,179401,Jumanji: Welcome to the Jungle (2017),False,True,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,2017
2707,179819,Star Wars: The Last Jedi (2017),False,True,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,2017
2708,180031,The Shape of Water (2017),False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2017
2709,183897,Isle of Dogs (2018),False,False,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,2018
2710,187593,Deadpool 2 (2018),False,True,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,2018

In [25]:
dfmovies_dum.isnull().sum()

movieId               0
title                 0
(no genres listed)    0
Action                0
Adventure             0
Animation             0
Children              0
Comedy                0
Crime                 0
Documentary           0
Drama                 0
Fantasy               0
Film-Noir             0
Horror                0
IMAX                  0
Musical               0
Mystery               0
Romance               0
Sci-Fi                0
Thriller              0
War                   0
Western               0
year                  0
dtype: int64

In [95]:
dfratings_rf.to_sql('ratings_final5', conn, index=False, if_exists='replace')

66195

In [103]:
#crear base de datos final
df=dfratings.merge(dfmovies_dum, on="movieId", how="inner")
df

,userId,movieId,rating,timestamp,title,(no genres listed),Action,Adventure,Animation,Children,...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year
0,1,1,4.0,964982703,Toy Story (1995),False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,1995
1,5,1,4.0,847434962,Toy Story (1995),False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,1995
2,7,1,4.5,1106635946,Toy Story (1995),False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,1995
3,15,1,2.5,1510577970,Toy Story (1995),False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,1995
4,17,1,4.5,1305696483,Toy Story (1995),False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66190,496,40826,4.0,1415166154,Rent (2005),False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,2005
66191,499,40826,4.0,1289960223,Rent (2005),False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,2005
66192,509,40826,3.0,1435997155,Rent (2005),False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,2005
66193,525,40826,3.0,1476478472,Rent (2005),False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,2005
66194,596,40826,3.5,1535829343,Rent (2005),False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,2005

In [97]:
df.to_sql('df_final', conn, index=False, if_exists='replace') #enviarla a sql

66195

In [104]:
#Enviar tavbla final a github
# Token de acceso personal de GitHub
github_token = "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"

# Información del repositorio
usuario = "angelaguzmanar"
repositorio = "Marketing"

# Crear una instancia de Github con tu token
g = Github(github_token)

# Obtener el repositorio
repo = g.get_user(usuario).get_repo(repositorio)


# Convertir el DataFrame a CSV en memoria
csv_buffer = io.StringIO()
df.to_csv(csv_buffer, index=False)

# Subir el archivo CSV al repositorio en GitHub (sin especificar ruta)
contenido = csv_buffer.getvalue()
ruta_archivo = "df_final.csv"  # Cambiar por el nombre que quieras darle al archivo
repo.create_file(ruta_archivo, "df_final.csv", contenido, branch="main")

{'content': ContentFile(path="df_final.csv"),
 'commit': Commit(sha="30b2bf592889d317babcb8f504a155aa1d9591b8")}

In [105]:
#Enviar tabla de dummys a GitHub
# Token de acceso personal de GitHub
github_token = "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"

# Información del repositorio
usuario = "angelaguzmanar"
repositorio = "Marketing"

# Crear una instancia de Github con tu token
g = Github(github_token)

# Obtener el repositorio
repo = g.get_user(usuario).get_repo(repositorio)


# Convertir el DataFrame a CSV en memoria
csv_buffer = io.StringIO()
dfmovies_dum.to_csv(csv_buffer, index=False)

# Subir el archivo CSV al repositorio en GitHub (sin especificar ruta)
contenido = csv_buffer.getvalue()
ruta_archivo = "movies_dum.csv"  # Cambiar por el nombre que quieras darle al archivo
repo.create_file(ruta_archivo, "movies_dum.csv", contenido, branch="main")

{'content': ContentFile(path="movies_dum.csv"),
 'commit': Commit(sha="ef289683db89de856ab2c596f27249fcb8059b99")}

In [100]:
dfmovies.duplicated().sum() #verificar duplicados

0

In [26]:
dfratings_rf.duplicated().sum()

0

In [102]:
dfmovies_dum.duplicated().sum()

0